
body
{
	background-color: rgb(48, 10, 36);
}
#heading
{
	color:#ffffff;
}
#field
{
	border-width: 0px;
	background-color: rgb(48, 10, 36);
}
.opening
{
	font-weight: bold;
	color:#04B404;
}
#field:focus
{
	border-width: 0px;
	

}
ul 
{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}
.mystyleopening
{
	display: inline-block;
	color:#04B404;
}
.mystylecommand
{
	display: inline-block;
	color:#ffffff;
	

}


.item
{
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: bold;
}
